<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Sakila Database Manager
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a href="#">Omarion Apps</a>.</strong> All rights reserved.
  </footer>
</div>
</body>
</html>
